<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="flex justify-center items-center mt-4">
      <a routerLink="/dashboard">
        <img src="assets/logo.png" alt="logo" />
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Tableau de bord" nzIcon="dashboard">
        <ul>
          <li nz-menu-item>
            <a routerLink="/dashboard" routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }">Dashboard</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Gestion de l'école" nzIcon="read">
        <ul>
          <li nz-menu-item *ngFor="let link of schoolManagementLinks">
            <a [routerLink]="link.route" routerLinkActive="active">{{ link.label }}</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Gestion du temps" nzIcon="calendar">
        <ul>
          <li nz-menu-item *ngFor="let link of timeManagementLinks">
            <a [routerLink]="link.route" routerLinkActive="active">{{ link.label }}</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Gestion des notes" nzIcon="form">
        <ul>
          <li nz-menu-item>
            <a>Sous menu 1</a>
          </li>
          <li nz-menu-item>
            <a>Sous menu 2</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="bg-slate-200 p-6 h-full overflow-y-scroll">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>