<div class="flex flex-wrap justify-between items-center gap-4">
    <button
        class="btn-yellow rounded-full flex justify-center items-center space-x-1"
        (click)="onToggleAddModal()">
        <fa-icon [icon]="faAdd"></fa-icon>
        <span>Ajouter un enseignant</span>
    </button>
</div>

<div class="relative overflow-x-auto mt-[25px] pt-2">
    <div class="flex flex-wrap justify-between gap-4 mb-2">
        <div class="flex gap-2 items-center mb-4">
            <span>Afficher</span>
            <select
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-yellow-500 focus:border-yellow-500 p-2.5 w-16">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
            <span>éléments</span>
        </div>
        <div>
            <span>Rechercher : </span>
            <input type="text"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-yellow-500 focus:border-yellow-500 p-2.5">
        </div>
    </div>
    <table class="w-full text-sm text-left shadow-md text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
            <tr>
                <th scope="col" class="px-6 py-3">Prénom</th>
                <th scope="col" class="px-6 py-3">Nom</th>
                <th scope="col" class="px-6 py-3">Classes</th>
                <th scope="col" class="px-6 py-3">Email</th>
                <th scope="col" class="px-6 py-3">Téléphone</th>
                <th scope="col" class="px-6 py-3">Accès en ligne</th>
                <th scope="col" class="px-6 py-3 text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white border-b hover:bg-gray-50" *ngFor="let teacher of teachers$ | async">
                <td class="px-6 py-4">{{ teacher.prenom }}</td>
                <td class="px-6 py-4">{{ teacher.nom }}</td>
                <td class="px-6 py-4" *ngFor="let classe of teacher.classes">
                    <span class="bg-yellow-400 text-black rounded-md mr-2 p-1">
                        {{ classe.libelle }}
                    </span>
                </td>
                <td class="px-6 py-4">{{ teacher.email }}</td>
                <td class="px-6 py-4">{{ teacher.telephone }}</td>
                <td class="px-6 py-4 text-center">
                    <form>
                        <div class="relative inline-block w-10 mr-2 align-middle select-none transition duration-200 ease-in">
                            <input type="checkbox" name="authorization" id="authorization" class="absolute block w-6 h-6 rounded-full bg-white border-4 appearance-none outline-none cursor-pointer checked:right-0 checked:text-yellow-500"/>
                            <label for="authorization" class="toggle-label block overflow-hidden h-6 rounded-full bg-gray-300 cursor-pointer"></label>
                        </div>
                    </form>
                </td>
                <td class="px-6 py-4 flex gap-4 justify-center">
                    <button class="text-blue-500 text-xl" title="Modifier">
                        <fa-icon [icon]="faPenToSquare"></fa-icon>
                    </button>
                    <button class="text-red-500 text-xl" title="Supprimer">
                        <fa-icon [icon]="faTrashCan"></fa-icon>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- add grade form modal -->
<div *ngIf="toggleAddModal" class="bg-black bg-opacity-75 h-[100vh] flex justify-center items-center overflow-y-auto overflow-x-hidden fixed z-[1000] w-full inset-0 md:h-full">
    <div class="relative p-4 w-full max-w-4xl h-auto">
        <div class="relative bg-white rounded-lg shadow">
            <!-- Modal header -->
            <div class="flex justify-between items-start p-5 rounded-t border-b">
                <h3 class="text-xl font-semibold text-gray-900 lg:text-2xl">
                    Ajouter une classe
                </h3>
                <button type="button" (click)="onCloseModal()" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center">
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>  
                </button>
            </div>
            <form [formGroup]="addTeacherForm">
                <!-- Modal body -->
                <div class="p-6 space-y-6">
                    <div class="px-6 space-y-6 h-56 overflow-y-auto scrollbar-thin scrollbar-track-yellow-100 scrollbar-thumb-yellow-300 hover:scrollbar-thumb-yellow-500">
                        <div class="grid md:grid-cols-2 sm:grid-cols-1 gap-4">
                            <div>
                                <label for="nom" class="label-control">Nom</label>
                                <input type="text" id="nom" class="input-control" formControlName="nom">
                                <div *ngIf="nom?.invalid && (nom?.dirty || nom?.touched)" class="text-red-500 text-xs">
                                    <div *ngIf="nom?.errors?.['required']">
                                        Le champ `nom` est obligatoire
                                    </div>
                                </div>
                            </div>
                            <div>
                                <label for="prenom" class="label-control">Prénom</label>
                                <input type="text" id="prenom" class="input-control" formControlName="prenom">
                                <div *ngIf="prenom?.invalid && (prenom?.dirty || prenom?.touched)">
                                    <div *ngIf="prenom?.errors?.['required']" class="text-red-500 text-xs">
                                        Le champ `prénom` est obligatoire
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid md:grid-cols-2 sm:grid-cols-1 gap-4">
                            <div>
                                <label for="classes" class="label-control">Classes</label>
                                <!-- <input type="text" id="classes" class="input-control" formControlName="classes"> -->
                                <ng-select2 [data]="exampleData" formControlName="classes"></ng-select2>
                            </div>
                            <div>
                                <label for="dateNaiss" class="label-control">Date de naissance</label>
                                <input type="text" id="dateNaiss" class="input-control" formControlName="dateNaiss">
                            </div>
                        </div>
                        <div class="grid md:grid-cols-2 sm:grid-cols-1 gap-4">
                            <div>
                                <label for="sexe" class="label-control">Sexe</label>
                                <input type="text" id="sexe" class="input-control" formControlName="sexe">
                                <div *ngIf="sexe?.invalid && (sexe?.dirty || sexe?.touched)">
                                    <div *ngIf="sexe?.errors?.['required']" class="text-red-500 text-xs">
                                        Le champ `sexe` est obligatoire
                                    </div>
                                </div>
                            </div>
                            <div>
                                <label for="email" class="label-control">Email</label>
                                <input type="text" id="email" class="input-control" formControlName="email">
                                <div *ngIf="email?.invalid && (email?.dirty || email?.touched)">
                                    <div *ngIf="email?.errors?.['required']" class="text-red-500 text-xs">
                                        Le champ `email` est obligatoire
                                    </div>
                                    <div *ngIf="email?.errors?.['email']" class="text-red-500 text-xs">
                                        Adresse email invalide
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid md:grid-cols-2 sm:grid-cols-1 gap-4">
                            <div>
                                <label for="telephone" class="label-control">Téléphone</label>
                                <input type="text" id="telephone" class="input-control" formControlName="telephone">
                                <div *ngIf="telephone?.invalid && (telephone?.dirty || telephone?.touched)">
                                    <div *ngIf="telephone?.errors?.['required']" class="text-red-500 text-xs">
                                        Le champ `téléphone` est obligatoire
                                    </div>
                                </div>
                            </div>
                            <div>
                                <label for="adresse" class="label-control">Adresse</label>
                                <input type="text" id="adresse" class="input-control" formControlName="adresse">
                            </div>
                        </div>
                        <div class="grid md:grid-cols-2 sm:grid-cols-1 gap-4">
                            <div>
                                <label for="dateEntree" class="label-control">Date d'entrée</label>
                                <input type="text" id="dateEntree" class="input-control" formControlName="dateEntree">
                            </div>
                            <div>
                                <label for="dateSortie" class="label-control">Date de sortie</label>
                                <input type="text" id="dateSortie" class="input-control" formControlName="dateSortie">
                            </div>
                        </div>
                        <div class="grid md:grid-cols-2 sm:grid-cols-1 gap-4">
                            <div>
                                <label for="photo" class="label-control">Photo</label>
                                <input type="text" id="photo" class="input-control" formControlName="photo">
                            </div>
                            <div>
                                <label for="nomUtilisateur" class="label-control">Nom d'utilisateur</label>
                                <input type="text" id="nomUtilisateur" class="input-control" formControlName="nomUtilisateur">
                                <div *ngIf="nomUtilisateur?.invalid && (nomUtilisateur?.dirty || nomUtilisateur?.touched)">
                                    <div *ngIf="nomUtilisateur?.errors?.['required']" class="text-red-500 text-xs">
                                        Le champ `nom d'utilisateur` est obligatoire
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid md:grid-cols-2 sm:grid-cols-1 gap-4">
                            <div>
                                <label for="motDePasse" class="label-control">Mot de passe</label>
                                <input type="text" id="motDePasse" class="input-control" formControlName="motDePasse">
                                <div *ngIf="motDePasse?.invalid && (motDePasse?.dirty || motDePasse?.touched)">
                                    <div *ngIf="motDePasse?.errors?.['required']" class="text-red-500 text-xs">
                                        Le champ `mot de passe` est obligatoire
                                    </div>
                                </div>
                            </div>
                            <div>
                                <label for="userType" class="label-control">Profil</label>
                                <input type="text" id="userType" class="input-control" formControlName="userType">
                                <div *ngIf="userType?.invalid && (userType?.dirty || userType?.touched)">
                                    <div *ngIf="userType?.errors?.['required']" class="text-red-500 text-xs">
                                        Le champ `profil` est obligatoire
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="flex justify-end items-center p-6 space-x-2 rounded-b border-t border-gray-200 dark:border-gray-600">
                    <button type="button" class="btn-yellow rounded-lg disabled:bg-yellow-200 disabled:cursor-not-allowed" (click)="onSubmitTeacher()" [disabled]="addTeacherForm.invalid">Ajouter</button>
                    <button type="button" class="btn-default rounded-lg" (click)="onCloseModal()">Annuler</button>
                </div>
            </form>
        </div>
    </div>
</div>